<h1>this is sign in page</h1>
<form action = "/create-session">
    <input type = "email" name="email" placeholder="Your Email">
    <input type = "password" name = "password" placeholder="Your Password">
    <input type = "submit" value = "sign In">
</form>